.footer-info {
  display: flex;
  align-items: baseline;
}

.footer-info .location {
  display: flex;
  align-items: flex-start;
  width: 361px;
  margin-right: 150px;
}

.footer-info .location img {
  position: relative;
  top: 6px;
  margin-right: 25px;
}

.footer-info a {
  text-decoration: none;
  color: #fff;
}

.footer-info .contact {
  margin-right: 150px;
}