.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: var(--DarkBlue3);
}

.main-footer .logo {
  max-width: 20%;
  max-height: 20%;
  margin-bottom: 50px;
}
