.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: var(--DarkBlue3);
}

.main-footer .logo {
  max-width: 10%;
  max-height: 10%;
  margin-bottom: 20px;
}