.services-cards {
  width: 400px;
  height: 150px;
  text-align: center;

  font-family: 'Raleway', sans-serif;
  color: var(--White);
}

.services-cards h2 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}

.services-cards.-first {
  margin-right: 150px;
  margin-bottom: 150px;
}

.services-cards.-second {
  margin-bottom: 150px;
}

.services-cards.-third {
  margin-right: 150px;
}