.social-media {
  display: flex;
}

.icon {
  display: flex;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  transition: fill .5s ease;
}

.icon:hover {
  fill: var(--Cyan);
}

.border {
  width: max-content;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 10px;

  transition: border .5s ease;
}

.border:hover {
  border: 1px solid var(--Cyan);
}

.border.-twitter {
  margin-left: 10px;
  margin-right: 10px;
}

