.works-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  background-color: var(--DarkBlue2);

  font-family: 'Open Sans', sans-serif;
  color: var(--White);
}

.works-section .txt {
  display: block;
  width: 550px;
  margin-left: 60px;
}

.works-section h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}

.works-section p {
  margin-bottom: 20px;
}

.works-section a {
  text-decoration: none;
  color: var(--Cyan);
}

.fylo-works {
  display: flex;
  align-items: center;
  width: max-content;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--Cyan);
  transition: border .5s ease;
  transition: color .5s ease;
}

.fylo-works img {
  margin-left: 5px;
} 

.fylo-works:hover {
  border-bottom: 1px solid var(--White);
  color: var(--White);
}